name: Deploy

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  REPONAME: ${{ secrets.REPO_NAME }}

on:
  workflow_run:
    workflows: ["Test workflow"]
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout repozitorija
        uses: actions/checkout@v2
      
      - name: Prijava v Docker
        run: |
          echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin

      - name: Trenutni Äas
        run: echo "date=$(date +'%Y-%m-%d--%H-%M-%S')" >> "$GITHUB_ENV"
      
      - name: Zgradi docker sliko
        run: |
          docker build . --file Dockerfile --tag $DOCKER_USERNAME/$REPONAME:${{ env.date }}

      - name: Potisni docker sliko
        run: |
          docker push $DOCKER_USERNAME/$REPONAME:${{ env.date }}
